.cards_container {
  width: 50%;
  height: 100vh;
}

.big-backgrund {
  position: absolute;
}

.cards_card-wrapper {
  position: relative;
  background-image: url('../../assets/bg-main-desktop.png');
  background-repeat: repeat-y;
  height: 100%;
}

.cards_card-front {
  position: absolute;
  top: 20%;
  left: 130px;
  width: min-content;
}

.card-logo {
  position: absolute;
  top: 10%;
  left: 10%;
}

.card-number {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  color: white;
  font-family: var(--font-family);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 3.42222px;
}

.cardholder-name {
  position: absolute;
  top: 75%;
  left: 2.5rem;
  color: white;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-expiry-date {
  position: absolute;
  top: 75%;
  right: 2.5rem;
  color: white;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 2px;
}

.cards_card-back {
  position: absolute;
  top: 52%;
  left: 170px;
  width: min-content;
}

.card-back-bg {
  position: absolute;
  top: 60%;
  left: 25%;
  width: min-content;
}

.card-back-cvc {
  position: absolute;
  left: 22rem;
  top: 7rem;
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 2px;
}

/* Small to Large devices */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .cards_card-front {
    left: 110px;
  }
  .cards_card-back {
    left: 150px;
  }

  .card-number {
    font-size: 20px;
  }

  .cardholder-name {
    font-size: 10px;
  }

  .card-expiry-date {
    font-size: 10px;
  }

  .card-back-cvc {
    font-size: 10px;
  }

  .card-logo {
    width: 65px;
  }

  .card-front-bg {
    width: 350px;
  }
  .card-back-bg {
    width: 350px;
  }

  .card-back-cvc {
    left: 280px;
    top: 85px;
  }
}
